{{ 'section-countdown.css' | asset_url | stylesheet_tag }}

<script src='{{ 'countdown.js' | asset_url }}' defer='defer'></script>

{%- style -%}
	{% render 'section-margin' %}
{%- endstyle -%}

{% liquid
	assign timezone = 'now' | date: '%Z' | plus: 0 | append: ''

	if timezone.size > 1
		assign timezone = 'now' | date: '%Z' | divided_by: 100 | times: 3600.0 | plus: 1800
	else
		assign timezone = 'now' | date: '%Z' | minus: 1 | times: 3600.0
	endif

	assign date_merge = section.settings.date_picker | append: '-' | append: section.settings.time_picker | append: ':00'
	assign date_now = 'now' | date: '%s' | minus: 0
	assign date_settings = date_merge | date: '%s' | minus: 0

	if date_now < date_settings
		assign distance = date_settings | minus: date_now
		assign days = distance | divided_by: 3600 | divided_by: 24 | floor | append: ''
		assign hours = distance | modulo: 86400 | divided_by: 3600 | floor | append: ''
		assign minutes = distance | modulo: 3600 | divided_by: 60 | floor | append: ''
		assign seconds = distance | modulo: 60 | floor | append: ''
	else
		assign days = '00'
		assign hours = '00'
		assign minutes = '00'
		assign seconds = '00'
	endif
%}

<countdown-timer
	class='
		countdown js-countdown section-{{ section.id }}-padding js-countdown-{{ section.id }}
		{% if section.settings.image != blank %} countdown_padding {% endif %}
	'
	data-date='{{ section.settings.date_picker }}'
	data-time='{{ section.settings.time_picker }}'
	data-completed='{{ section.settings.completed_countdown }}'
>
	{%- if section.settings.image != blank -%}
		<div class='countdown__bg'>
			<span
				class='countdown__bg-overlay'
				style='background-color: rgba(var(--color-overlay), {{ section.settings.opacity_overlay }})'
			></span>
			{{
				section.settings.image
				| image_url: width: section.settings.image.width
				| image_tag:
					class: 'countdown__image',
					loading: 'lazy',
					widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946, 2200, 2400, 2600, 2800, 3000, 3200, 3400, 3600, 3900'
			}}
		</div>
	{% endif %}
	<div class='countdown__container'>
		<div class='container'>
			<div
				class='
					countdown__wrapper color-{{ section.settings.color_scheme }}
					{% if section.settings.enable_shadow %} countdown__wrapper_shadow {% endif %}
				'
			>
				<div class='countdown__content'>
					{%- if section.settings.subheading != blank -%}
						<div class='countdown__subheading subtitle {{ section.settings.subheading_style }}'>
							{% if section.settings.subheading_icon != 'none' %}
								<i
									class='icon icon-pack icon-{{ section.settings.subheading_icon }}'
								></i>
							{% endif %}
							{{ section.settings.subheading }}
						</div>
					{% endif %}

					{%- if section.settings.heading != blank -%}
						{% if section.settings.heading_line == 'rounded' %}
							{% assign color = section.settings.line_color | remove: '#' %}
							{% style %}
								.section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-xs {
								  background-image: url('data:image/svg+xml,\
								  <svg xmlns="http://www.w3.org/2000/svg" width="78" height="14" viewBox="0 0 78 14" fill="none">\
								    <path d="M3 11C15.1361 4.50757 39.4887 -3.17051 75 11" stroke="%23{{ color }}" stroke-width="6" stroke-linecap="round"/>\
								  </svg>');
								}

								.section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-s {
								  background-image: url('data:image/svg+xml,\
								  <svg xmlns="http://www.w3.org/2000/svg" width="172" height="14" viewBox="0 0 172 14" fill="none">\
								    <path d="M3 11C30.9803 4.50757 87.1267 -3.17051 169 11" stroke="%23{{ color }}" stroke-width="6" stroke-linecap="round"/>\
								  </svg>');
								}

								.section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-m {
								  background-image: url('data:image/svg+xml,\
								  <svg xmlns="http://www.w3.org/2000/svg" width="321" height="14" viewBox="0 0 321 14" fill="none">\
								    <path d="M3 11C56.0952 4.50757 162.638 -3.17051 318 11" stroke="%23{{ color }}" stroke-width="6" stroke-linecap="round"/>\
								  </svg>');
								}

								.section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-l {
								  background-image: url('data:image/svg+xml,\
								  <svg xmlns="http://www.w3.org/2000/svg" width="373" height="14" viewBox="0 0 373 14" fill="none">\
								    <path d="M3 11C64.8602 4.50757 188.991 -3.17051 370 11" stroke="%23{{ color }}" stroke-width="6" stroke-linecap="round"/>\
								  </svg>');
								}

								.section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-xl {
								  background-image: url('data:image/svg+xml,\
								  <svg xmlns="http://www.w3.org/2000/svg" width="568" height="14" viewBox="0 0 568 14" fill="none">\
								    <path d="M3 11C97.7286 4.50757 287.814 -3.17051 565 11" stroke="%23{{ color }}" stroke-width="6" stroke-linecap="round"/>\
								  </svg>');
								}

								.section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-xxl {
								  background-image: url('data:image/svg+xml,\
								  <svg xmlns="http://www.w3.org/2000/svg" width="714" height="14" viewBox="0 0 714 14" fill="none">\
								    <path d="M3 11C122.338 4.50757 361.805 -3.17051 711 11" stroke="%23{{ color }}" stroke-width="6" stroke-linecap="round"/>\
								  </svg>');
								}

								[data-scheme="dark"] {
								  .section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-xs {
								    background-image: url('data:image/svg+xml,\
								    <svg xmlns="http://www.w3.org/2000/svg" width="78" height="14" viewBox="0 0 78 14" fill="none">\
								      <path d="M3 11C15.1361 4.50757 39.4887 -3.17051 75 11" stroke="%234A4A4C stroke-width="6" stroke-linecap="round"/>\
								    </svg>');
								  }

								  .section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-s {
								    background-image: url('data:image/svg+xml,\
								    <svg xmlns="http://www.w3.org/2000/svg" width="172" height="14" viewBox="0 0 172 14" fill="none">\
								      <path d="M3 11C30.9803 4.50757 87.1267 -3.17051 169 11" stroke="%234A4A4C" stroke-width="6" stroke-linecap="round"/>\
								    </svg>');
								  }

								  .section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-m {
								    background-image: url('data:image/svg+xml,\
								    <svg xmlns="http://www.w3.org/2000/svg" width="321" height="14" viewBox="0 0 321 14" fill="none">\
								      <path d="M3 11C56.0952 4.50757 162.638 -3.17051 318 11" stroke="%234A4A4C" stroke-width="6" stroke-linecap="round"/>\
								    </svg>');
								  }

								  .section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-l {
								    background-image: url('data:image/svg+xml,\
								    <svg xmlns="http://www.w3.org/2000/svg" width="373" height="14" viewBox="0 0 373 14" fill="none">\
								      <path d="M3 11C64.8602 4.50757 188.991 -3.17051 370 11" stroke="%234A4A4C" stroke-width="6" stroke-linecap="round"/>\
								    </svg>');
								  }

								  .section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-xl {
								    background-image: url('data:image/svg+xml,\
								    <svg xmlns="http://www.w3.org/2000/svg" width="568" height="14" viewBox="0 0 568 14" fill="none">\
								      <path d="M3 11C97.7286 4.50757 287.814 -3.17051 565 11" stroke="%234A4A4C" stroke-width="6" stroke-linecap="round"/>\
								    </svg>');
								  }

								  .section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-xxl {
								    background-image: url('data:image/svg+xml,\
								    <svg xmlns="http://www.w3.org/2000/svg" width="714" height="14" viewBox="0 0 714 14" fill="none">\
								      <path d="M3 11C122.338 4.50757 361.805 -3.17051 711 11" stroke="%234A4A4C" stroke-width="6" stroke-linecap="round"/>\
								    </svg>');
								  }
								}

								@media (prefers-color-scheme: dark) {
								 [data-scheme="auto"] {
								    .section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-xs {
								      background-image: url('data:image/svg+xml,\
								      <svg xmlns="http://www.w3.org/2000/svg" width="78" height="14" viewBox="0 0 78 14" fill="none">\
								        <path d="M3 11C15.1361 4.50757 39.4887 -3.17051 75 11" stroke="%234A4A4C stroke-width="6" stroke-linecap="round"/>\
								      </svg>');
								    }

								    .section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-s {
								      background-image: url('data:image/svg+xml,\
								      <svg xmlns="http://www.w3.org/2000/svg" width="172" height="14" viewBox="0 0 172 14" fill="none">\
								        <path d="M3 11C30.9803 4.50757 87.1267 -3.17051 169 11" stroke="%234A4A4C" stroke-width="6" stroke-linecap="round"/>\
								      </svg>');
								    }

								    .section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-m {
								      background-image: url('data:image/svg+xml,\
								      <svg xmlns="http://www.w3.org/2000/svg" width="321" height="14" viewBox="0 0 321 14" fill="none">\
								        <path d="M3 11C56.0952 4.50757 162.638 -3.17051 318 11" stroke="%234A4A4C" stroke-width="6" stroke-linecap="round"/>\
								      </svg>');
								    }

								    .section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-l {
								      background-image: url('data:image/svg+xml,\
								      <svg xmlns="http://www.w3.org/2000/svg" width="373" height="14" viewBox="0 0 373 14" fill="none">\
								        <path d="M3 11C64.8602 4.50757 188.991 -3.17051 370 11" stroke="%234A4A4C" stroke-width="6" stroke-linecap="round"/>\
								      </svg>');
								    }

								    .section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-xl {
								      background-image: url('data:image/svg+xml,\
								      <svg xmlns="http://www.w3.org/2000/svg" width="568" height="14" viewBox="0 0 568 14" fill="none">\
								        <path d="M3 11C97.7286 4.50757 287.814 -3.17051 565 11" stroke="%234A4A4C" stroke-width="6" stroke-linecap="round"/>\
								      </svg>');
								    }

								    .section-{{ section.id }}-padding .countdown__heading--rounded span[style*="text-decoration:underline"].title--rounded-xxl {
								      background-image: url('data:image/svg+xml,\
								      <svg xmlns="http://www.w3.org/2000/svg" width="714" height="14" viewBox="0 0 714 14" fill="none">\
								        <path d="M3 11C122.338 4.50757 361.805 -3.17051 711 11" stroke="%234A4A4C" stroke-width="6" stroke-linecap="round"/>\
								      </svg>');
								    }
								  }
								}
							{% endstyle %}
						{% endif %}
						<{{ section.settings.heading_level }}
							class='
								countdown__heading {{ section.settings.heading_size }} countdown__heading--{{ section.settings.heading_line }} title--{{ section.settings.heading_line }}
								{% if section.settings.word_break and section.settings.heading_line != 'none' %} countdown__heading--word_break {% endif %}
							'
							style='--color-line: {{ section.settings.line_color }}'
						>
							{{ section.settings.heading }}
						</{{ section.settings.heading_level }}>
					{%- endif -%}

					{%- if section.settings.text != blank -%}
						<div class='countdown__text'>
							{{ section.settings.text | escape }}
						</div>
					{%- endif -%}

					{%- if section.settings.show_link -%}
						{% render 'button',
							link: section.settings.button_link,
							label: section.settings.button_label,
							style: section.settings.button_style,
							class: 'countdown'
						%}
					{%- endif -%}
				</div>
				{%- if section.settings.date_picker != blank -%}
					<div class='countdown__main countdown__main--font-{{ section.settings.countdown_block_font }}'>
						<div class='countdown__block'>
							<div class='countdown__block_num countdown-block-font'>
								<span
									class='countdown_block_days {{ section.settings.countdown_block_font }}'
								>
									{% if days.size > 1 %}
										{{ days }}
									{% else %}
										{{ 0 | append: days }}
									{% endif %}
								</span>
								天
							</div>
						</div>
						<div class='countdown__block'>
							<div class='countdown__block_num countdown-block-font'>
								<span
									class='countdown_block_hours {{ section.settings.countdown_block_font }}'
								>
									{% if hours.size > 1 %}
										{{ hours }}
									{% else %}
										{{ 0 | append: hours }}
									{% endif %}
								</span>
								時
							</div>
						</div>
						<div class='countdown__block'>
							<div class='countdown__block_num countdown-block-font'>
								<span
									class='countdown_block_minutes {{ section.settings.countdown_block_font }}'
								>
									{% if minutes.size > 1 %}
										{{ minutes }}
									{% else %}
										{{ 0 | append: minutes }}
									{% endif %}
								</span>
								分
							</div>
						</div>
						<div class='countdown__block'>
							<div class='countdown__block_num countdown-block-font'>
								<span
									class='countdown_block_seconds {{ section.settings.countdown_block_font }}'
								>
									{% if seconds.size > 1 %}
										{{ seconds }}
									{% else %}
										{{ 0 | append: seconds }}
									{% endif %}
								</span>
								秒
							</div>
						</div>
					</div>
				{%- endif -%}
				{% if section.settings.countdown_heading %}
					<div class='countdown__end-info'>
						<h3 class='h3 countdown__end-info-text'>
							{{ section.settings.countdown_heading }}
						</h3>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</countdown-timer>

{% schema %}
{
	"name": "倒數計時器",
	"tag": "section",
	"class": "countdown-section spaced-section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"default": "background-1",
			"label": "色彩配置"
		},
		{
			"type": "checkbox",
			"id": "enable_shadow",
			"default": true,
			"label": "啟用區塊陰影"
		},
		{
			"type": "text",
			"id": "date_picker",
			"default": "2024-10-01",
			"info": "格式：YYYY-MM-DD",
			"label": "結束日期"
		},
		{
			"type": "text",
			"id": "time_picker",
			"default": "00:00",
			"info": "格式：HH:MM (24小時制)",
			"label": "結束時間"
		},
		{
			"type": "select",
			"id": "countdown_block_font",
			"options": [
				{ "value": "recommended", "label": "建議大小" },
				{ "value": "large", "label": "大" },
				{ "value": "normal", "label": "正常" },
				{ "value": "medium", "label": "中" }
			],
			"default": "recommended",
			"label": "倒數計時數字字體"
		},
		{
			"type": "select",
			"id": "completed_countdown",
			"options": [
				{ "value": "hide_section", "label": "隱藏此區塊" },
				{ "value": "show_text", "label": "顯示文字" }
			],
			"default": "show_text",
			"label": "倒數結束後"
		},
		{
			"type": "inline_richtext",
			"id": "countdown_heading",
			"default": "活動已開始！",
			"label": "倒數結束後顯示的標題"
		},
		{
			"type": "header",
			"content": "內容設定"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "背景圖片"
		},
		{
			"type": "range",
			"id": "opacity_overlay",
			"min": 0,
			"max": 1,
			"step": 0.1,
			"label": "疊加層不透明度",
			"default": 0
		},
		{
			"type": "text",
			"id": "subheading",
			"default": "限時優惠",
			"label": "副標題"
		},
		{
			"type": "select",
			"id": "subheading_style",
			"options": [
				{ "value": "subtitle", "label": "副標題" },
				{ "value": "subtitle subtitle--secondary", "label": "副標題 (次要)" }
			],
			"default": "subtitle",
			"label": "副標題樣式"
		},
		{
			"type": "select",
			"id": "subheading_icon",
			"options": [
				{ "value": "none", "label": "無" },
				{ "value": "arrow-bar", "label": "箭頭條" },
				{ "value": "bag-1", "label": "提袋 1" },
				{ "value": "bag-2", "label": "提袋 2" },
				{ "value": "bag-3", "label": "提袋 3" },
				{ "value": "bar-chart", "label": "長條圖" },
				{ "value": "bars-upward", "label": "向上長條" },
				{ "value": "baseball", "label": "棒球" },
				{ "value": "battery-1", "label": "電池 1" },
				{ "value": "battery-2", "label": "電池 2" },
				{ "value": "battery-3", "label": "電池 3" },
				{ "value": "book", "label": "書本" },
				{ "value": "card", "label": "卡片" },
				{ "value": "card-holder", "label": "名片夾" },
				{ "value": "chart", "label": "圖表" },
				{ "value": "chart-2", "label": "圖表 2" },
				{ "value": "chart-3", "label": "圖表 3" },
				{ "value": "chats", "label": "對話" },
				{ "value": "check-1", "label": "勾號 1" },
				{ "value": "check-2", "label": "勾號 2" },
				{ "value": "check-3", "label": "勾號 3" },
				{ "value": "check-4", "label": "勾號 4" },
				{ "value": "circle", "label": "圓圈" },
				{ "value": "circles", "label": "多個圓圈" },
				{ "value": "clock-1", "label": "時鐘 1" },
				{ "value": "clock-2", "label": "時鐘 2" },
				{ "value": "close", "label": "關閉" },
				{ "value": "cloud-server", "label": "雲端伺服器" },
				{ "value": "computer", "label": "電腦" },
				{ "value": "computer-mouse", "label": "滑鼠" },
				{ "value": "confetti", "label": "彩紙" },
				{ "value": "delivery", "label": "運送" },
				{ "value": "delivery-box", "label": "包裹" },
				{ "value": "devices", "label": "裝置" },
				{ "value": "directions", "label": "方向" },
				{ "value": "dumbbell", "label": "啞鈴" },
				{ "value": "eye", "label": "眼睛" },
				{ "value": "facebook", "label": "Facebook" },
				{ "value": "file-1", "label": "檔案 1" },
				{ "value": "file-2", "label": "檔案 2" },
				{ "value": "flag", "label": "旗幟" },
				{ "value": "folder-1", "label": "資料夾 1" },
				{ "value": "folder-2", "label": "資料夾 2" },
				{ "value": "food", "label": "食物" },
				{ "value": "hand-1", "label": "手 1" },
				{ "value": "hand-2", "label": "手 2" },
				{ "value": "hand-3", "label": "手 3" },
				{ "value": "headphones", "label": "耳機" },
				{ "value": "instagram", "label": "Instagram" },
				{ "value": "laptop-1", "label": "筆電 1" },
				{ "value": "laptop-2", "label": "筆電 2" },
				{ "value": "leaf", "label": "葉子" },
				{ "value": "lightning-bolt-1", "label": "閃電 1" },
				{ "value": "lightning-bolt-2", "label": "閃電 2" },
				{ "value": "like", "label": "讚" },
				{ "value": "link", "label": "連結" },
				{ "value": "lock-1", "label": "鎖 1" },
				{ "value": "lock-2", "label": "鎖 2" },
				{ "value": "logout", "label": "登出" },
				{ "value": "luggage", "label": "行李" },
				{ "value": "mark", "label": "標記" },
				{ "value": "medicine", "label": "藥品" },
				{ "value": "microphone", "label": "麥克風" },
				{ "value": "moon", "label": "月亮" },
				{ "value": "pencil", "label": "鉛筆" },
				{ "value": "phone-1", "label": "電話 1" },
				{ "value": "phone-2", "label": "電話 2" },
				{ "value": "phone-3", "label": "電話 3" },
				{ "value": "phone-4", "label": "電話 4" },
				{ "value": "pinterest", "label": "Pinterest" },
				{ "value": "plug", "label": "插頭" },
				{ "value": "presentation-1", "label": "簡報 1" },
				{ "value": "presentation-2", "label": "簡報 2" },
				{ "value": "pulse", "label": "脈搏" },
				{ "value": "recycle", "label": "回收" },
				{ "value": "rocket", "label": "火箭" },
				{ "value": "search", "label": "搜尋" },
				{ "value": "sending", "label": "傳送" },
				{ "value": "server-1", "label": "伺服器 1" },
				{ "value": "server-2", "label": "伺服器 2" },
				{ "value": "settings", "label": "設定" },
				{ "value": "shield", "label": "盾牌" },
				{ "value": "shopping-basket", "label": "購物籃" },
				{ "value": "shuffle", "label": "隨機播放" },
				{ "value": "snapchat", "label": "Snapchat" },
				{ "value": "sound-waves", "label": "聲波" },
				{ "value": "speaker", "label": "喇叭" },
				{ "value": "squares-1", "label": "方塊 1" },
				{ "value": "squares-2", "label": "方塊 2" },
				{ "value": "stack", "label": "堆疊" },
				{ "value": "star", "label": "星星" },
				{ "value": "stopwatch", "label": "碼錶" },
				{ "value": "sun", "label": "太陽" },
				{ "value": "tag", "label": "標籤" },
				{ "value": "telephone-tower", "label": "電信塔" },
				{ "value": "tik-tok", "label": "TikTok" },
				{ "value": "tree", "label": "樹" },
				{ "value": "trend", "label": "趨勢" },
				{ "value": "trophy", "label": "獎盃" },
				{ "value": "tumblr", "label": "Tumblr" },
				{ "value": "tv", "label": "電視" },
				{ "value": "twitter", "label": "Twitter" },
				{ "value": "user-1", "label": "使用者 1" },
				{ "value": "user-2", "label": "使用者 2" },
				{ "value": "user-3", "label": "使用者 3" },
				{ "value": "user-4", "label": "使用者 4" },
				{ "value": "user-5", "label": "使用者 5" },
				{ "value": "video", "label": "影片" },
				{ "value": "vimeo", "label": "Vimeo" },
				{ "value": "wallet", "label": "錢包" },
				{ "value": "watch", "label": "手錶" },
				{ "value": "water-1", "label": "水 1" },
				{ "value": "water-2", "label": "水 2" },
				{ "value": "water-3", "label": "水 3" },
				{ "value": "wave-1", "label": "波浪 1" },
				{ "value": "wave-2", "label": "波浪 2" },
				{ "value": "wifi-1", "label": "Wi-Fi 1" },
				{ "value": "wifi-2", "label": "Wi-Fi 2" },
				{ "value": "window", "label": "視窗" },
				{ "value": "youtube", "label": "YouTube" }
			],
			"default": "none",
			"label": "副標題圖示"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "倒數計時",
			"label": "標題",
			"info": "使用方括號 `[文字]` 來突顯標題中的特定單字。"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{ "value": "h3", "label": "中" },
				{ "value": "h2", "label": "大" }
			],
			"default": "h3",
			"label": "標題大小"
		},
		{
			"type": "select",
			"id": "heading_level",
			"options": [
				{ "value": "h1", "label": "H1" },
				{ "value": "h2", "label": "H2" },
				{ "value": "h3", "label": "H3" }
			],
			"default": "h2",
			"label": "標題層級 (HTML 標籤)"
		},
		{
			"type": "select",
			"id": "heading_line",
			"options": [
				{ "value": "simple", "label": "簡潔線條" },
				{ "value": "rounded", "label": "圓角線條" },
				{ "value": "background", "label": "背景色塊" },
				{ "value": "none", "label": "無" }
			],
			"default": "simple",
			"label": "標題線條樣式"
		},
		{
			"type": "color",
			"id": "line_color",
			"label": "線條顏色",
			"default": "#1566E0"
		},
		{
			"type": "checkbox",
			"id": "word_break",
			"label": "啟用標題自動換行",
			"default": false
		},
		{
			"type": "text",
			"id": "text",
			"label": "內文"
		},
		{
			"type": "header",
			"content": "按鈕設定"
		},
		{
			"type": "checkbox",
			"id": "show_link",
			"default": true,
			"label": "顯示按鈕"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "立即選購",
			"label": "按鈕文字"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"group": "實心按鈕",
					"value": "primary",
					"label": "主要"
				},
				{
					"group": "實心按鈕",
					"value": "secondary",
					"label": "次要"
				},
				{
					"group": "實心按鈕",
					"value": "tertiary",
					"label": "第三"
				},
				{
					"group": "外框/連結按鈕",
					"value": "simple",
					"label": "簡潔"
				},
				{
					"group": "外框/連結按鈕",
					"value": "simple_secondary",
					"label": "簡潔 (次要)"
				},
				{
					"group": "外框/連結按鈕",
					"value": "simple_link",
					"label": "簡潔 (連結樣式)"
				}
			],
			"default": "simple",
			"label": "按鈕樣式"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "按鈕連結"
		},
		{
			"type": "header",
			"content": "區塊外距 (Margin)"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{ "value": "no-indent", "label": "無" },
				{ "value": "xs", "label": "超小" },
				{ "value": "s", "label": "小" },
				{ "value": "m", "label": "中" },
				{ "value": "l", "label": "大" },
				{ "value": "xl", "label": "超大" }
			],
			"default": "l",
			"label": "頂部外距"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{ "value": "no-indent", "label": "無" },
				{ "value": "xs", "label": "超小" },
				{ "value": "s", "label": "小" },
				{ "value": "m", "label": "中" },
				{ "value": "l", "label": "大" },
				{ "value": "xl", "label": "超大" }
			],
			"default": "l",
			"label": "底部外距"
		}
	],
	"presets": [
		{
			"name": "倒數計時器"
		}
	]
}
{% endschema %}