{{ 'section-popular-products.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

{%- if settings.quickview_show
	or settings.show_on_mobile
	or settings.type_color_swatch == 'custom'
-%}
	{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- if settings.quickview_show or settings.show_on_mobile -%}
	<link
		rel='stylesheet'
		href='{{ 'component-deferred-media.css' | asset_url }}'
		media='all'
	>
	<link
		rel='preload'
		href='{{ 'quick-add.css' | asset_url }}'
		as='style'
		onload="this.onload=null;this.rel='stylesheet'"
	>

	<script src='{{ 'quick-add.js' | asset_url }}' defer='defer'></script>
	<script src='{{ 'product-form.js' | asset_url }}' defer='defer'></script>
{% elsif settings.add_to_cart_enabled %}
	<script src='{{ 'product-form.js' | asset_url }}' defer='defer'></script>
{%- endif -%}

{%- if section.settings.enable_mobile_overflow_slider -%}
	<script src='{{ 'popular-products.js' | asset_url }}' defer='defer'></script>
{%- endif -%}

{%- style -%}
	{% render 'section-padding' %}
	{% render 'section-margin' %}
{%- endstyle -%}

<div
	class='
		popular-products color-{{ section.settings.color_scheme }} background section-{{ section.id }}-padding
		{% if section.settings.enable_border %} section-border {% if section.settings.border_full %} section-border-full {% endif %} {% endif %}
	'
>
	<div class='container'>
		<div
			class='
				section-grid
				{% if section.settings.subheading == blank and section.settings.heading == blank and section.settings.text == blank %}
				  section-grid_no-text
				{% endif %}
			'
		>
			{%- if section.settings.subheading != blank
				or section.settings.heading != blank
				or section.settings.text != blank
			-%}
				<div class='section-top'>
					{% render 'section-text',
						section: section,
						class: 'popular-products',
						heading_level: section.settings.heading_level
					%}
				</div>
			{% endif %}

			{%- if section.settings.button_show -%}
				{% render 'button',
					link: section.settings.button_link,
					label: section.settings.button_label,
					style: section.settings.button_style,
					class: 'popular-products'
				%}
			{%- endif -%}

			{%- if section.settings.enable_mobile_overflow_slider -%}
				{% comment %} ----- 行動裝置滑桿版面 ----- {% endcomment %}

				<div
					class='popular-products-slider content'
				>
					<ul
						class='
							popular-products__wrapper
							popular-products__wrapper--{{ section.settings.products_to_show }}
							list-unstyled
						'
					>
						{%- for product in section.settings.product_list -%}
							<li
								class='
									popular-products__item collection-product-card
									quickview{%- if settings.quickview_hover -%}--hover{% endif %}
								'
							>
								{% render 'product-card',
									product_card_product: product,
									media_ratio: section.settings.image_ratio,
									media_fit: section.settings.image_fit,
									add_border_radius_when_contain: section.settings.add_border_radius_when_contain,
									show_secondary_image: section.settings.show_secondary_image,
									show_vendor: section.settings.show_vendor,
									show_desc: section.settings.show_desc,
									section_id: section.id,
									add_id: forloop.index,
									color_scheme: section.settings.color_scheme
								%}
							</li>
						{%- else -%}
							{%- for i in (1..6) -%}
								<li class='popular-products__item_placeholder collection-popular-card collection-popular-card--placeholder'>
									{% render 'product-card-placeholder',
										media_ratio: section.settings.image_ratio,
										show_vendor: section.settings.show_vendor,
										color_scheme: section.settings.color_scheme,
										forloop: forloop
									%}
								</li>
							{%- endfor -%}
						{%- endfor -%}
					</ul>
				</div>
			{%- else -%}
				{% comment %} ----- 預設版面 ----- {% endcomment %}

				<ul
					class='
						popular-products__wrapper content
						popular-products__wrapper--{{ section.settings.products_to_show }}
						popular-products--{{ section.settings.columns_mobile }}-mobile
						list-unstyled
					'
				>
					{%- for product in section.settings.product_list -%}
						<li
							class='
								popular-products__item collection-product-card
								quickview{%- if settings.quickview_hover -%}--hover{% endif %}
							'
						>
							{% render 'product-card',
								product_card_product: product,
								media_ratio: section.settings.image_ratio,
								media_fit: section.settings.image_fit,
								add_border_radius_when_contain: section.settings.add_border_radius_when_contain,
								show_secondary_image: section.settings.show_secondary_image,
								show_vendor: section.settings.show_vendor,
								show_desc: section.settings.show_desc,
								section_id: section.id,
								add_id: forloop.index,
								color_scheme: section.settings.color_scheme
							%}
						</li>
					{%- else -%}
						{%- for i in (1..6) -%}
							<li class='popular-products__item_placeholder collection-popular-card collection-popular-card--placeholder'>
								{% render 'product-card-placeholder',
									media_ratio: section.settings.image_ratio,
									show_vendor: section.settings.show_vendor,
									color_scheme: section.settings.color_scheme,
									forloop: forloop
								%}
							</li>
						{%- endfor -%}
					{%- endfor -%}
				</ul>
			{%- endif -%}
		</div>
	</div>
</div>

{% schema %}
{
	"name": "熱門商品",
	"tag": "section",
	"class": "popular-products-section spaced-section",
	"disabled_on": {
		"templates": ["password"],
		"groups": ["*"]
	},
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"default": "background-1",
			"label": "色彩配置"
		},
		{
			"type": "checkbox",
			"id": "enable_border",
			"label": "啟用邊框",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "border_full",
			"label": "全寬度邊框",
			"default": false
		},
		{
			"type": "text",
			"id": "subheading",
			"label": "副標題",
			"default": "我們的熱門商品"
		},
		{
			"type": "select",
			"id": "subheading_style",
			"options": [
				{
					"value": "subtitle",
					"label": "副標題"
				},
				{
					"value": "subtitle subtitle--secondary",
					"label": "副標題 (次要)"
				}
			],
			"default": "subtitle",
			"label": "副標題樣式"
		},
		{
			"type": "select",
			"id": "subheading_icon",
			"options": [
				{ "value": "none", "label": "無" },
				{ "value": "arrow-bar", "label": "箭頭條" },
				{ "value": "bag-1", "label": "提袋 1" },
				{ "value": "bag-2", "label": "提袋 2" },
				{ "value": "bag-3", "label": "提袋 3" },
				{ "value": "bar-chart", "label": "長條圖" },
				{ "value": "bars-upward", "label": "向上長條" },
				{ "value": "baseball", "label": "棒球" },
				{ "value": "battery-1", "label": "電池 1" },
				{ "value": "battery-2", "label": "電池 2" },
				{ "value": "battery-3", "label": "電池 3" },
				{ "value": "book", "label": "書本" },
				{ "value": "card", "label": "卡片" },
				{ "value": "card-holder", "label": "名片夾" },
				{ "value": "chart", "label": "圖表" },
				{ "value": "chart-2", "label": "圖表 2" },
				{ "value": "chart-3", "label": "圖表 3" },
				{ "value": "chats", "label": "對話" },
				{ "value": "check-1", "label": "勾號 1" },
				{ "value": "check-2", "label": "勾號 2" },
				{ "value": "check-3", "label": "勾號 3" },
				{ "value": "check-4", "label": "勾號 4" },
				{ "value": "circle", "label": "圓圈" },
				{ "value": "circles", "label": "多個圓圈" },
				{ "value": "clock-1", "label": "時鐘 1" },
				{ "value": "clock-2", "label": "時鐘 2" },
				{ "value": "close", "label": "關閉" },
				{ "value": "cloud-server", "label": "雲端伺服器" },
				{ "value": "computer", "label": "電腦" },
				{ "value": "computer-mouse", "label": "滑鼠" },
				{ "value": "confetti", "label": "彩紙" },
				{ "value": "delivery", "label": "運送" },
				{ "value": "delivery-box", "label": "包裹" },
				{ "value": "devices", "label": "裝置" },
				{ "value": "directions", "label": "方向" },
				{ "value": "dumbbell", "label": "啞鈴" },
				{ "value": "eye", "label": "眼睛" },
				{ "value": "facebook", "label": "Facebook" },
				{ "value": "file-1", "label": "檔案 1" },
				{ "value": "file-2", "label": "檔案 2" },
				{ "value": "flag", "label": "旗幟" },
				{ "value": "folder-1", "label": "資料夾 1" },
				{ "value": "folder-2", "label": "資料夾 2" },
				{ "value": "food", "label": "食物" },
				{ "value": "hand-1", "label": "手 1" },
				{ "value": "hand-2", "label": "手 2" },
				{ "value": "hand-3", "label": "手 3" },
				{ "value": "headphones", "label": "耳機" },
				{ "value": "instagram", "label": "Instagram" },
				{ "value": "laptop-1", "label": "筆電 1" },
				{ "value": "laptop-2", "label": "筆電 2" },
				{ "value": "leaf", "label": "葉子" },
				{ "value": "lightning-bolt-1", "label": "閃電 1" },
				{ "value": "lightning-bolt-2", "label": "閃電 2" },
				{ "value": "like", "label": "讚" },
				{ "value": "link", "label": "連結" },
				{ "value": "lock-1", "label": "鎖 1" },
				{ "value": "lock-2", "label": "鎖 2" },
				{ "value": "logout", "label": "登出" },
				{ "value": "luggage", "label": "行李" },
				{ "value": "mark", "label": "標記" },
				{ "value": "medicine", "label": "藥品" },
				{ "value": "microphone", "label": "麥克風" },
				{ "value": "moon", "label": "月亮" },
				{ "value": "pencil", "label": "鉛筆" },
				{ "value": "phone-1", "label": "電話 1" },
				{ "value": "phone-2", "label": "電話 2" },
				{ "value": "phone-3", "label": "電話 3" },
				{ "value": "phone-4", "label": "電話 4" },
				{ "value": "pinterest", "label": "Pinterest" },
				{ "value": "plug", "label": "插頭" },
				{ "value": "presentation-1", "label": "簡報 1" },
				{ "value": "presentation-2", "label": "簡報 2" },
				{ "value": "pulse", "label": "脈搏" },
				{ "value": "recycle", "label": "回收" },
				{ "value": "rocket", "label": "火箭" },
				{ "value": "search", "label": "搜尋" },
				{ "value": "sending", "label": "傳送" },
				{ "value": "server-1", "label": "伺服器 1" },
				{ "value": "server-2", "label": "伺服器 2" },
				{ "value": "settings", "label": "設定" },
				{ "value": "shield", "label": "盾牌" },
				{ "value": "shopping-basket", "label": "購物籃" },
				{ "value": "shuffle", "label": "隨機播放" },
				{ "value": "snapchat", "label": "Snapchat" },
				{ "value": "sound-waves", "label": "聲波" },
				{ "value": "speaker", "label": "喇叭" },
				{ "value": "squares-1", "label": "方塊 1" },
				{ "value": "squares-2", "label": "方塊 2" },
				{ "value": "stack", "label": "堆疊" },
				{ "value": "star", "label": "星星" },
				{ "value": "stopwatch", "label": "碼錶" },
				{ "value": "sun", "label": "太陽" },
				{ "value": "tag", "label": "標籤" },
				{ "value": "telephone-tower", "label": "電信塔" },
				{ "value": "tik-tok", "label": "TikTok" },
				{ "value": "tree", "label": "樹" },
				{ "value": "trend", "label": "趨勢" },
				{ "value": "trophy", "label": "獎盃" },
				{ "value": "tumblr", "label": "Tumblr" },
				{ "value": "tv", "label": "電視" },
				{ "value": "twitter", "label": "Twitter" },
				{ "value": "user-1", "label": "使用者 1" },
				{ "value": "user-2", "label": "使用者 2" },
				{ "value": "user-3", "label": "使用者 3" },
				{ "value": "user-4", "label": "使用者 4" },
				{ "value": "user-5", "label": "使用者 5" },
				{ "value": "video", "label": "影片" },
				{ "value": "vimeo", "label": "Vimeo" },
				{ "value": "wallet", "label": "錢包" },
				{ "value": "watch", "label": "手錶" },
				{ "value": "water-1", "label": "水 1" },
				{ "value": "water-2", "label": "水 2" },
				{ "value": "water-3", "label": "水 3" },
				{ "value": "wave-1", "label": "波浪 1" },
				{ "value": "wave-2", "label": "波浪 2" },
				{ "value": "wifi-1", "label": "Wi-Fi 1" },
				{ "value": "wifi-2", "label": "Wi-Fi 2" },
				{ "value": "window", "label": "視窗" },
				{ "value": "youtube", "label": "YouTube" }
			],
			"default": "none",
			"label": "副標題圖示"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"label": "標題",
			"info": "使用方括號 `[文字]` 來突顯標題中的特定單字。",
			"default": "熱門商品"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{ "value": "h3", "label": "中" },
				{ "value": "h2", "label": "大" }
			],
			"default": "h2",
			"label": "標題大小"
		},
		{
			"type": "select",
			"id": "heading_level",
			"options": [
				{ "value": "h1", "label": "H1" },
				{ "value": "h2", "label": "H2" },
				{ "value": "h3", "label": "H3" }
			],
			"default": "h2",
			"label": "標題層級 (HTML 標籤)"
		},
		{
			"type": "select",
			"id": "heading_line",
			"options": [
				{ "value": "simple", "label": "簡潔線條" },
				{ "value": "rounded", "label": "圓角線條" },
				{ "value": "background", "label": "背景色塊" },
				{ "value": "none", "label": "無" }
			],
			"default": "simple",
			"label": "標題線條樣式"
		},
		{
			"type": "color",
			"id": "line_color",
			"label": "線條顏色",
			"default": "#1566E0"
		},
		{
			"type": "checkbox",
			"id": "word_break",
			"label": "啟用標題自動換行",
			"default": false
		},
		{
			"type": "select",
			"id": "heading_animation",
			"options": [
				{ "value": "typewriter", "label": "打字機" },
				{ "value": "rolling", "label": "滾動" },
				{ "value": "appearing", "label": "浮現" },
				{ "value": "none", "label": "無" }
			],
			"default": "none",
			"label": "標題動畫",
			"info": "此動畫僅在頁面首次載入時播放一次。"
		},
		{
			"type": "checkbox",
			"id": "word_break_an",
			"label": "啟用動畫文字自動換行",
			"default": false
		},
		{
			"type": "textarea",
			"id": "text",
			"label": "內文",
			"default": "在這裡分享有關您熱門商品的更多資訊。"
		},
		{
			"type": "product_list",
			"id": "product_list",
			"label": "商品列表"
		},
		{
			"type": "range",
			"id": "products_to_show",
			"min": 1,
			"max": 6,
			"step": 1,
			"default": 3,
			"label": "每列顯示的商品數量"
		},
		{
			"type": "header",
			"content": "商品卡片設定"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{ "value": "1/1", "label": "正方形 (1:1)" },
				{ "value": "3/2", "label": "橫向 (3:2)" },
				{ "value": "4/5", "label": "直向 (4:5)" },
				{ "value": "5/4", "label": "橫向 (5:4)" }
			],
			"default": "5/4",
			"label": "圖片比例"
		},
		{
			"type": "select",
			"id": "image_fit",
			"label": "圖片縮放模式",
			"options": [
				{ "value": "contain", "label": "等比例縮放 (Contain)" },
				{ "value": "cover", "label": "裁切填滿 (Cover)" }
			],
			"default": "cover"
		},
		{
			"type": "checkbox",
			"id": "add_border_radius_when_contain",
			"default": false,
			"label": "當圖片為「等比例縮放」時，為其增加圓角"
		},
		{
			"type": "checkbox",
			"id": "show_secondary_image",
			"default": true,
			"label": "滑鼠懸停時顯示第二張圖片"
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"default": false,
			"label": "顯示供應商"
		},
		{
			"type": "checkbox",
			"id": "show_desc",
			"default": false,
			"label": "顯示商品描述",
			"info": "將會顯示商品描述的前 55 個字元。"
		},
		{
			"type": "header",
			"content": "行動裝置版面"
		},
		{
			"type": "select",
			"id": "columns_mobile",
			"default": "1",
			"label": "行動裝置上的欄數",
			"options": [
				{ "value": "1", "label": "1 欄" },
				{ "value": "2", "label": "2 欄" }
			]
		},
		{
			"type": "checkbox",
			"id": "enable_mobile_overflow_slider",
			"label": "在行動裝置上啟用滑動瀏覽",
			"default": false
		},
		{
			"type": "header",
			"content": "按鈕設定"
		},
		{
			"type": "checkbox",
			"id": "button_show",
			"default": false,
			"label": "顯示按鈕"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "查看全部",
			"label": "按鈕文字"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"group": "實心按鈕",
					"value": "primary",
					"label": "主要"
				},
				{
					"group": "實心按鈕",
					"value": "secondary",
					"label": "次要"
				},
				{
					"group": "實心按鈕",
					"value": "tertiary",
					"label": "第三"
				},
				{
					"group": "外框/連結按鈕",
					"value": "simple",
					"label": "簡潔"
				},
				{
					"group": "外框/連結按鈕",
					"value": "simple_secondary",
					"label": "簡潔 (次要)"
				},
				{
					"group": "外框/連結按鈕",
					"value": "simple_link",
					"label": "簡潔 (連結樣式)"
				}
			],
			"default": "primary",
			"label": "按鈕樣式"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "按鈕連結"
		},
		{
			"type": "header",
			"content": "區塊內距 (Padding)"
		},
		{
			"type": "select",
			"id": "padding_top",
			"options": [
				{ "value": "no-indent", "label": "無" },
				{ "value": "xs", "label": "超小" },
				{ "value": "s", "label": "小" },
				{ "value": "m", "label": "中" },
				{ "value": "l", "label": "大" },
				{ "value": "xl", "label": "超大" }
			],
			"default": "l",
			"label": "頂部內距"
		},
		{
			"type": "select",
			"id": "padding_bottom",
			"options": [
				{ "value": "no-indent", "label": "無" },
				{ "value": "xs", "label": "超小" },
				{ "value": "s", "label": "小" },
				{ "value": "m", "label": "中" },
				{ "value": "l", "label": "大" },
				{ "value": "xl", "label": "超大" }
			],
			"default": "l",
			"label": "底部內距"
		},
		{
			"type": "header",
			"content": "區塊外距 (Margin)"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{ "value": "no-indent", "label": "無" },
				{ "value": "xs", "label": "超小" },
				{ "value": "s", "label": "小" },
				{ "value": "m", "label": "中" },
				{ "value": "l", "label": "大" },
				{ "value": "xl", "label": "超大" }
			],
			"default": "no-indent",
			"label": "頂部外距"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{ "value": "no-indent", "label": "無" },
				{ "value": "xs", "label": "超小" },
				{ "value": "s", "label": "小" },
				{ "value": "m", "label": "中" },
				{ "value": "l", "label": "大" },
				{ "value": "xl", "label": "超大" }
			],
			"default": "no-indent",
			"label": "底部外距"
		}
	],
	"presets": [
		{
			"name": "熱門商品"
		}
	]
}
{% endschema %}