{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}
<script src="{{ 'testimonials.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  {% render 'section-padding' %}
  {% render 'section-margin' %}
{%- endstyle -%}

{% liquid
  if section.settings.slide_text_size == 'recommended'
    case section.settings.layout
      when 'simple_slider', 'marquee'
        assign text_size = 'h6'
      when 'full_slider'
        assign text_size = 'h3'
      when 'image_left_slider'
        assign text_size = 'h4'
      else
        assign text_size = 'h5'
    endcase
  endif
%}

<div class="testimonials color-{{ section.settings.color_scheme }} background section-{{ section.id }}-padding testimonials--{{ section.settings.layout }}">
  <div class="container">
    {% render 'section-text', section: section, class: 'testimonials', text_align: section.settings.text_align, heading_level: section.settings.heading_level %}

    <div class="testimonials__content content">
      {% liquid
        if section.settings.layout == 'simple_slider' or section.settings.layout == 'image_top_slider'
          assign columns = 3
        else
          assign columns = 1
        endif

        if section.settings.layout == 'full_slider'
          assign content_align = 'center'
        else
          assign content_align = 'left'
        endif
      %}

      {% if section.settings.layout != 'marquee' %}
        {% assign navigation = false %}
        {% if section.settings.enable_navigation or section.settings.enable_navigation_mobile %}
          {% assign navigation = true %}
        {% endif %}
        {% assign pagination = false %}
        {% if section.settings.enable_pagination or section.settings.enable_pagination_mobile %}
          {% assign pagination = true %}
        {% endif %}
        <div class="testimonials__slider-wrapper">
          <div
            class="
              testimonials__slider swiper
              testimonials__slider--{{ section.settings.layout }}
              testimonials__slider--columns-{{ columns }}
            "
            data-columns="{{ columns }}"
            data-navigation="{{ navigation }}"
            data-pagination="{{ pagination }}"
          >
            <div class="testimonials__wrapper swiper-wrapper">
              {%- for block in section.blocks -%}
                <div class="swiper-slide">
                  <div
                    class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                    {{ block.shopify_attributes }}
                  >
                    {% if section.settings.layout == 'image_left_slider'
                      or section.settings.layout == 'image_top_slider'
                    %}
                      {% if block.settings.image != blank %}
                        {% capture sizes %}
                          (min-width: 750px) 550px, 
                          calc(100vw - 40px)
                        {% endcapture %}
                        <div class="testimonials__author-image">
                          {{
                            block.settings.image
                            | image_url: width: block.settings.image.width
                            | image_tag:
                              loading: 'lazy',
                              class: 'motion-reduce media--second',
                              widths: '360, 533, 720, 940, 1066, 1200',
                              sizes: sizes
                          }}
                        </div>
                      {% endif %}
                    {% endif %}

                    <div class="testimonials__item">
                      <div class="testimonials__rating">
                        <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                          <i class="icon-star"></i>
                        </div>
                        <div class="testimonials__rating-count body-small">
                          {{ block.settings.rating | append: '.00' }}
                        </div>
                      </div>

                      {% if block.settings.slide_text != blank %}
                        <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                          {{- block.settings.slide_text -}}
                        </p>
                      {% endif %}

                      {% if block.settings.image != blank
                        or block.settings.slide_name != blank
                        or block.settings.slide_position != blank
                      %}
                        <div class="testimonials__author">
                          {% if section.settings.layout != 'image_left_slider'
                            and section.settings.layout != 'image_top_slider'
                          %}
                            {% if block.settings.image != blank %}
                              <div class="testimonials__author-icon">
                                {{
                                  block.settings.image
                                  | image_url: width: block.settings.image.width
                                  | image_tag: loading: 'lazy', widths: '70, 140'
                                }}
                              </div>
                            {% endif %}
                          {% endif %}
                          {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                            <div class="testimonials__author-info">
                              {% if block.settings.slide_name != blank %}
                                <div
                                  class="
                                    testimonials__author-name
                                    {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}
                                  "
                                >
                                  {{- block.settings.slide_name -}}
                                </div>
                              {% endif %}
                              {% if block.settings.slide_position != blank %}
                                <div class="testimonials__author-position {% if section.settings.layout == 'simple_slider' or section.settings.layout == 'image_top_slider' %} body-small {% endif %}">
                                  {{- block.settings.slide_position -}}
                                </div>
                              {% endif %}
                            </div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          {% if section.settings.enable_pagination or section.settings.enable_pagination_mobile %}
            <div
              class="
                testimonials__pagination no-js-hidden
                swiper-pagination color-{{ section.settings.pagination_color_scheme }}
                {% if section.settings.enable_pagination == false %} testimonials__pagination--desktop-hidden {% endif %}
                {% if  section.settings.enable_pagination_mobile == false %} testimonials__pagination--mobile-hidden {% endif %}
              "
            ></div>
          {% endif %}
          {% if section.settings.enable_navigation or section.settings.enable_navigation_mobile %}
            <div
              class="
                testimonials__navigation swiper-navigation no-js-hidden
                {% if section.settings.enable_pagination %} testimonials__navigation_margin {% endif %}
                {% if section.settings.enable_navigation_mobile and section.settings.enable_pagination_mobile %} testimonials__navigation--mobile-center {% endif %}
                {% if section.settings.enable_navigation == false %} testimonials__navigation--desktop-hidden {% endif %}
                {% if section.settings.enable_navigation_mobile == false %} testimonials__navigation--mobile-hidden {% endif %}
              "
            >
              <div class="testimonials__button-prev swiper-button-prev color-{{ section.settings.navigation_color_scheme }}">
                {% render 'icon-caret-left' %}
              </div>
              <div class="testimonials__button-next swiper-button-next color-{{ section.settings.navigation_color_scheme }}">
                {% render 'icon-caret-right' %}
              </div>
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="testimonials__marquee-wrapper {% if section.blocks.size > 6 %} testimonials__marquee-wrapper_full {% endif %}">
          <div class="testimonials__marquee {% if section.blocks.size > 6 %} testimonials__marquee-swiper swiper {% endif %}">
            {% if section.blocks.size > 6 %}
              <div class="swiper-wrapper">
            {% endif %}
            {%- for block in section.blocks -%}
              {% assign mod = forloop.index | modulo: 3 %}

              {% if mod == 1 %}
                <div class="swiper-slide">
                  <div
                    class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                    {{ block.shopify_attributes }}
                  >
                    <div class="testimonials__item">
                      <div class="testimonials__rating">
                        <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                          <i class="icon-star"></i>
                        </div>
                        <div class="testimonials__rating-count body-small">
                          {{ block.settings.rating | append: '.00' }}
                        </div>
                      </div>

                      {% if block.settings.slide_text != blank %}
                        <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                          {{ block.settings.slide_text | escape }}
                        </p>
                      {% endif %}

                      {% if block.settings.image != blank
                        or block.settings.slide_name != blank
                        or block.settings.slide_position != blank
                      %}
                        <div class="testimonials__author">
                          {% if block.settings.image != blank %}
                            <div class="testimonials__author-icon">
                              {{
                                block.settings.image
                                | image_url: width: block.settings.image.width
                                | image_tag: loading: 'lazy', widths: '70, 140'
                              }}
                            </div>
                          {% endif %}
                          {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                            <div class="testimonials__author-info">
                              {% if block.settings.slide_name != blank %}
                                <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                  {{ block.settings.slide_name }}
                                </div>
                              {% endif %}
                              {% if block.settings.slide_position != blank %}
                                <div class="testimonials__author-position body-small">
                                  {{ block.settings.slide_position }}
                                </div>
                              {% endif %}
                            </div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            {% if section.blocks.size < 18 and section.blocks.size > 6 %}
              {%- for block in section.blocks -%}
                {% assign mod = forloop.index | modulo: 3 %}

                {% if mod == 1 %}
                  <div class="swiper-slide">
                    <div
                      class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                      {{ block.shopify_attributes }}
                    >
                      <div class="testimonials__item">
                        <div class="testimonials__rating">
                          <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                            <i class="icon-star"></i>
                          </div>
                          <div class="testimonials__rating-count body-small">
                            {{ block.settings.rating | append: '.00' }}
                          </div>
                        </div>

                        {% if block.settings.slide_text != blank %}
                          <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                            {{ block.settings.slide_text | escape }}
                          </p>
                        {% endif %}

                        {% if block.settings.image != blank
                          or block.settings.slide_name != blank
                          or block.settings.slide_position != blank
                        %}
                          <div class="testimonials__author">
                            {% if block.settings.image != blank %}
                              <div class="testimonials__author-icon">
                                {{
                                  block.settings.image
                                  | image_url: width: block.settings.image.width
                                  | image_tag: loading: 'lazy', widths: '70, 140'
                                }}
                              </div>
                            {% endif %}
                            {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                              <div class="testimonials__author-info">
                                {% if block.settings.slide_name != blank %}
                                  <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                    {{ block.settings.slide_name }}
                                  </div>
                                {% endif %}
                                {% if block.settings.slide_position != blank %}
                                  <div class="testimonials__author-position body-small">
                                    {{ block.settings.slide_position }}
                                  </div>
                                {% endif %}
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if section.blocks.size > 6 %}
              </div>
            {% endif %}
          </div>

          <div class="testimonials__marquee {% if section.blocks.size > 6 %} testimonials__marquee-swiper swiper {% endif %}">
            {% if section.blocks.size > 6 %}
              <div class="swiper-wrapper">
            {% endif %}
            {%- for block in section.blocks -%}
              {% assign mod = forloop.index | modulo: 3 %}

              {% if mod == 2 %}
                <div class="swiper-slide">
                  <div
                    class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                    {{ block.shopify_attributes }}
                  >
                    <div class="testimonials__item">
                      <div class="testimonials__rating">
                        <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                          <i class="icon-star"></i>
                        </div>
                        <div class="testimonials__rating-count  body-small">
                          {{ block.settings.rating | append: '.00' }}
                        </div>
                      </div>

                      {% if block.settings.slide_text != blank %}
                        <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                          {{ block.settings.slide_text | escape }}
                        </p>
                      {% endif %}

                      {% if block.settings.image != blank
                        or block.settings.slide_name != blank
                        or block.settings.slide_position != blank
                      %}
                        <div class="testimonials__author">
                          {% if block.settings.image != blank %}
                            <div class="testimonials__author-icon">
                              {{
                                block.settings.image
                                | image_url: width: block.settings.image.width
                                | image_tag: loading: 'lazy', widths: '70, 140'
                              }}
                            </div>
                          {% endif %}
                          {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                            <div class="testimonials__author-info">
                              {% if block.settings.slide_name != blank %}
                                <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                  {{ block.settings.slide_name }}
                                </div>
                              {% endif %}
                              {% if block.settings.slide_position != blank %}
                                <div class="testimonials__author-position body-small">
                                  {{ block.settings.slide_position }}
                                </div>
                              {% endif %}
                            </div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            {% if section.blocks.size < 18 and section.blocks.size > 6 %}
              {%- for block in section.blocks -%}
                {% assign mod = forloop.index | modulo: 3 %}

                {% if mod == 2 %}
                  <div class="swiper-slide">
                    <div
                      class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                      {{ block.shopify_attributes }}
                    >
                      <div class="testimonials__item">
                        <div class="testimonials__rating">
                          <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                            <i class="icon-star"></i>
                          </div>
                          <div class="testimonials__rating-count body-small">
                            {{ block.settings.rating | append: '.00' }}
                          </div>
                        </div>

                        {% if block.settings.slide_text != blank %}
                          <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                            {{ block.settings.slide_text | escape }}
                          </p>
                        {% endif %}

                        {% if block.settings.image != blank
                          or block.settings.slide_name != blank
                          or block.settings.slide_position != blank
                        %}
                          <div class="testimonials__author">
                            {% if block.settings.image != blank %}
                              <div class="testimonials__author-icon">
                                {{
                                  block.settings.image
                                  | image_url: width: block.settings.image.width
                                  | image_tag: loading: 'lazy', widths: '70, 140'
                                }}
                              </div>
                            {% endif %}
                            {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                              <div class="testimonials__author-info">
                                {% if block.settings.slide_name != blank %}
                                  <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                    {{ block.settings.slide_name }}
                                  </div>
                                {% endif %}
                                {% if block.settings.slide_position != blank %}
                                  <div class="testimonials__author-position body-small">
                                    {{ block.settings.slide_position }}
                                  </div>
                                {% endif %}
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if section.blocks.size == 7 %}
              {%- for block in section.blocks -%}
                {% assign mod = forloop.index | modulo: 3 %}

                {% if mod == 2 %}
                  <div class="swiper-slide">
                    <div
                      class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                      {{ block.shopify_attributes }}
                    >
                      <div class="testimonials__item">
                        <div class="testimonials__rating">
                          <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                            <i class="icon-star"></i>
                          </div>
                          <div class="testimonials__rating-count body-small">
                            {{ block.settings.rating | append: '.00' }}
                          </div>
                        </div>

                        {% if block.settings.slide_text != blank %}
                          <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                            {{ block.settings.slide_text | escape }}
                          </p>
                        {% endif %}

                        {% if block.settings.image != blank
                          or block.settings.slide_name != blank
                          or block.settings.slide_position != blank
                        %}
                          <div class="testimonials__author">
                            {% if block.settings.image != blank %}
                              <div class="testimonials__author-icon">
                                {{
                                  block.settings.image
                                  | image_url: width: block.settings.image.width
                                  | image_tag: loading: 'lazy', widths: '70, 140'
                                }}
                              </div>
                            {% endif %}
                            {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                              <div class="testimonials__author-info">
                                {% if block.settings.slide_name != blank %}
                                  <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                    {{ block.settings.slide_name }}
                                  </div>
                                {% endif %}
                                {% if block.settings.slide_position != blank %}
                                  <div class="testimonials__author-position body-small">
                                    {{ block.settings.slide_position }}
                                  </div>
                                {% endif %}
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if section.blocks.size > 6 %}
              </div>
            {% endif %}
          </div>

          <div class="testimonials__marquee {% if section.blocks.size > 6 %} testimonials__marquee-swiper swiper {% endif %}">
            {% if section.blocks.size > 6 %}
              <div class="swiper-wrapper">
            {% endif %}
            {%- for block in section.blocks -%}
              {% assign mod = forloop.index | modulo: 3 %}

              {% if mod == 0 %}
                <div class="swiper-slide">
                  <div
                    class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                    {{ block.shopify_attributes }}
                  >
                    <div class="testimonials__item">
                      <div class="testimonials__rating">
                        <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                          <i class="icon-star"></i>
                        </div>
                        <div class="testimonials__rating-count body-small">
                          {{ block.settings.rating | append: '.00' }}
                        </div>
                      </div>

                      {% if block.settings.slide_text != blank %}
                        <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                          {{ block.settings.slide_text | escape }}
                        </p>
                      {% endif %}

                      {% if block.settings.image != blank
                        or block.settings.slide_name != blank
                        or block.settings.slide_position != blank
                      %}
                        <div class="testimonials__author">
                          {% if block.settings.image != blank %}
                            <div class="testimonials__author-icon">
                              {{
                                block.settings.image
                                | image_url: width: block.settings.image.width
                                | image_tag: loading: 'lazy', widths: '70, 140'
                              }}
                            </div>
                          {% endif %}
                          {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                            <div class="testimonials__author-info">
                              {% if block.settings.slide_name != blank %}
                                <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                  {{ block.settings.slide_name }}
                                </div>
                              {% endif %}
                              {% if block.settings.slide_position != blank %}
                                <div class="testimonials__author-position body-small">
                                  {{ block.settings.slide_position }}
                                </div>
                              {% endif %}
                            </div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            {% if section.blocks.size < 18 and section.blocks.size > 6 %}
              {%- for block in section.blocks -%}
                {% assign mod = forloop.index | modulo: 3 %}

                {% if mod == 0 %}
                  <div class="swiper-slide">
                    <div
                      class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                      {{ block.shopify_attributes }}
                    >
                      <div class="testimonials__item">
                        <div class="testimonials__rating">
                          <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                            <i class="icon-star"></i>
                          </div>
                          <div class="testimonials__rating-count body-small">
                            {{ block.settings.rating | append: '.00' }}
                          </div>
                        </div>

                        {% if block.settings.slide_text != blank %}
                          <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                            {{ block.settings.slide_text | escape }}
                          </p>
                        {% endif %}

                        {% if block.settings.image != blank
                          or block.settings.slide_name != blank
                          or block.settings.slide_position != blank
                        %}
                          <div class="testimonials__author">
                            {% if block.settings.image != blank %}
                              <div class="testimonials__author-icon">
                                {{
                                  block.settings.image
                                  | image_url: width: block.settings.image.width
                                  | image_tag: loading: 'lazy', widths: '70, 140'
                                }}
                              </div>
                            {% endif %}
                            {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                              <div class="testimonials__author-info">
                                {% if block.settings.slide_name != blank %}
                                  <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                    {{ block.settings.slide_name }}
                                  </div>
                                {% endif %}
                                {% if block.settings.slide_position != blank %}
                                  <div class="testimonials__author-position body-small">
                                    {{ block.settings.slide_position }}
                                  </div>
                                {% endif %}
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if section.blocks.size == 7 or section.blocks.size == 8 %}
              {%- for block in section.blocks -%}
                {% assign mod = forloop.index | modulo: 3 %}

                {% if mod == 0 %}
                  <div class="swiper-slide">
                    <div
                      class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                      {{ block.shopify_attributes }}
                    >
                      <div class="testimonials__item">
                        <div class="testimonials__rating">
                          <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                            <i class="icon-star"></i>
                          </div>
                          <div class="testimonials__rating-count body-small">
                            {{ block.settings.rating | append: '.00' }}
                          </div>
                        </div>

                        {% if block.settings.slide_text != blank %}
                          <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                            {{ block.settings.slide_text | escape }}
                          </p>
                        {% endif %}

                        {% if block.settings.image != blank
                          or block.settings.slide_name != blank
                          or block.settings.slide_position != blank
                        %}
                          <div class="testimonials__author">
                            {% if block.settings.image != blank %}
                              <div class="testimonials__author-icon">
                                {{
                                  block.settings.image
                                  | image_url: width: block.settings.image.width
                                  | image_tag: loading: 'lazy', widths: '70, 140'
                                }}
                              </div>
                            {% endif %}
                            {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                              <div class="testimonials__author-info">
                                {% if block.settings.slide_name != blank %}
                                  <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                    {{ block.settings.slide_name }}
                                  </div>
                                {% endif %}
                                {% if block.settings.slide_position != blank %}
                                  <div class="testimonials__author-position body-small">
                                    {{ block.settings.slide_position }}
                                  </div>
                                {% endif %}
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if section.blocks.size > 6 %}
              </div>
            {% endif %}
          </div>
        </div>

        <div class="testimonials__marquee-wrapper_mobile {% if section.blocks.size > 3 %} testimonials__marquee-wrapper_mobile-full {% endif %}">
          <div class="testimonials__marquee {% if section.blocks.size > 3 %} testimonials__marquee-swiper_mobile swiper {% endif %}">
            {% if section.blocks.size > 3 %}
              <div class="swiper-wrapper">
            {% endif %}
            {%- for block in section.blocks -%}
              <div class="swiper-slide">
                <div
                  class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                  {{ block.shopify_attributes }}
                >
                  <div class="testimonials__item">
                    <div class="testimonials__rating">
                      <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                        <i class="icon-star"></i>
                      </div>
                      <div class="testimonials__rating-count body-small">
                        {{ block.settings.rating | append: '.00' }}
                      </div>
                    </div>

                    {% if block.settings.slide_text != blank %}
                      <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                        {{ block.settings.slide_text | escape }}
                      </p>
                    {% endif %}

                    {% if block.settings.image != blank
                      or block.settings.slide_name != blank
                      or block.settings.slide_position != blank
                    %}
                      <div class="testimonials__author">
                        {% if block.settings.image != blank %}
                          <div class="testimonials__author-icon">
                            {{
                              block.settings.image
                              | image_url: width: block.settings.image.width
                              | image_tag: loading: 'lazy', widths: '70, 140'
                            }}
                          </div>
                        {% endif %}
                        {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                          <div class="testimonials__author-info">
                            {% if block.settings.slide_name != blank %}
                              <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                {{ block.settings.slide_name }}
                              </div>
                            {% endif %}
                            {% if block.settings.slide_position != blank %}
                              <div class="testimonials__author-position body-small">
                                {{ block.settings.slide_position }}
                              </div>
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}

            {% if section.blocks.size > 3 and section.blocks.size < 6 %}
              {%- for block in section.blocks -%}
                <div class="swiper-slide">
                  <div
                    class="testimonials__slide testimonials__slide--{{ content_align }} color-{{ section.settings.slide_color_scheme }}"
                    {{ block.shopify_attributes }}
                  >
                    <div class="testimonials__item">
                      <div class="testimonials__rating">
                        <div class="testimonials__stars count-stars-{{ block.settings.rating }}">
                          <i class="icon-star"></i>
                        </div>
                        <div class="testimonials__rating-count body-small">
                          {{ block.settings.rating | append: '.00' }}
                        </div>
                      </div>

                      {% if block.settings.slide_text != blank %}
                        <p class="testimonials__text {{ section.settings.slide_text_size }} {% if section.settings.slide_text_size == 'recommended' %} {{ text_size }} {% endif %}">
                          {{ block.settings.slide_text | escape }}
                        </p>
                      {% endif %}

                      {% if block.settings.image != blank
                        or block.settings.slide_name != blank
                        or block.settings.slide_position != blank
                      %}
                        <div class="testimonials__author">
                          {% if block.settings.image != blank %}
                            <div class="testimonials__author-icon">
                              {{
                                block.settings.image
                                | image_url: width: block.settings.image.width
                                | image_tag: loading: 'lazy', widths: '70, 140'
                              }}
                            </div>
                          {% endif %}
                          {% if block.settings.slide_name != blank or block.settings.slide_position != blank %}
                            <div class="testimonials__author-info">
                              {% if block.settings.slide_name != blank %}
                                <div class="testimonials__author-name {% if section.settings.layout == 'full_slider' or section.settings.layout == 'image_left_slider' %} body-large {% endif %}">
                                  {{ block.settings.slide_name }}
                                </div>
                              {% endif %}
                              {% if block.settings.slide_position != blank %}
                                <div class="testimonials__author-position body-small">
                                  {{ block.settings.slide_position }}
                                </div>
                              {% endif %}
                            </div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}

            {% if section.blocks.size > 3 %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "顧客見證",
  "tag": "section",
  "class": "testimonials-section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "版面配置",
      "options": [
        { "value": "simple_slider", "label": "基本輪播" },
        { "value": "full_slider", "label": "全螢幕輪播" },
        { "value": "image_left_slider", "label": "圖片置左輪播" },
        { "value": "image_top_slider", "label": "圖片置頂輪播" },
        { "value": "marquee", "label": "跑馬燈" }
      ],
      "default": "simple_slider"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "色彩配置"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "副標題",
      "default": "他們怎麼說"
    },
    {
      "type": "select",
      "id": "subheading_style",
      "options": [
        { "value": "subtitle", "label": "副標題" },
        { "value": "subtitle subtitle--secondary", "label": "副標題 (次要)" }
      ],
      "default": "subtitle",
      "label": "副標題樣式"
    },
    {
      "type": "select",
      "id": "subheading_icon",
      "options": [
        { "value": "none", "label": "無" },
        { "value": "arrow-bar", "label": "箭頭條" },
        { "value": "bag-1", "label": "提袋 1" },
        { "value": "bag-2", "label": "提袋 2" },
        { "value": "bag-3", "label": "提袋 3" },
        { "value": "bar-chart", "label": "長條圖" },
        { "value": "bars-upward", "label": "向上長條" },
        { "value": "baseball", "label": "棒球" },
        { "value": "battery-1", "label": "電池 1" },
        { "value": "battery-2", "label": "電池 2" },
        { "value": "battery-3", "label": "電池 3" },
        { "value": "book", "label": "書本" },
        { "value": "card", "label": "卡片" },
        { "value": "card-holder", "label": "名片夾" },
        { "value": "chart", "label": "圖表" },
        { "value": "chart-2", "label": "圖表 2" },
        { "value": "chart-3", "label": "圖表 3" },
        { "value": "chats", "label": "對話" },
        { "value": "check-1", "label": "勾號 1" },
        { "value": "check-2", "label": "勾號 2" },
        { "value": "check-3", "label": "勾號 3" },
        { "value": "check-4", "label": "勾號 4" },
        { "value": "circle", "label": "圓圈" },
        { "value": "circles", "label": "多個圓圈" },
        { "value": "clock-1", "label": "時鐘 1" },
        { "value": "clock-2", "label": "時鐘 2" },
        { "value": "close", "label": "關閉" },
        { "value": "cloud-server", "label": "雲端伺服器" },
        { "value": "computer", "label": "電腦" },
        { "value": "computer-mouse", "label": "滑鼠" },
        { "value": "confetti", "label": "彩紙" },
        { "value": "delivery", "label": "運送" },
        { "value": "delivery-box", "label": "包裹" },
        { "value": "devices", "label": "裝置" },
        { "value": "directions", "label": "方向" },
        { "value": "dumbbell", "label": "啞鈴" },
        { "value": "eye", "label": "眼睛" },
        { "value": "facebook", "label": "Facebook" },
        { "value": "file-1", "label": "檔案 1" },
        { "value": "file-2", "label": "檔案 2" },
        { "value": "flag", "label": "旗幟" },
        { "value": "folder-1", "label": "資料夾 1" },
        { "value": "folder-2", "label": "資料夾 2" },
        { "value": "food", "label": "食物" },
        { "value": "hand-1", "label": "手 1" },
        { "value": "hand-2", "label": "手 2" },
        { "value": "hand-3", "label": "手 3" },
        { "value": "headphones", "label": "耳機" },
        { "value": "instagram", "label": "Instagram" },
        { "value": "laptop-1", "label": "筆電 1" },
        { "value": "laptop-2", "label": "筆電 2" },
        { "value": "leaf", "label": "葉子" },
        { "value": "lightning-bolt-1", "label": "閃電 1" },
        { "value": "lightning-bolt-2", "label": "閃電 2" },
        { "value": "like", "label": "讚" },
        { "value": "link", "label": "連結" },
        { "value": "lock-1", "label": "鎖 1" },
        { "value": "lock-2", "label": "鎖 2" },
        { "value": "logout", "label": "登出" },
        { "value": "luggage", "label": "行李" },
        { "value": "mark", "label": "標記" },
        { "value": "medicine", "label": "藥品" },
        { "value": "microphone", "label": "麥克風" },
        { "value": "moon", "label": "月亮" },
        { "value": "pencil", "label": "鉛筆" },
        { "value": "phone-1", "label": "電話 1" },
        { "value": "phone-2", "label": "電話 2" },
        { "value": "phone-3", "label": "電話 3" },
        { "value": "phone-4", "label": "電話 4" },
        { "value": "pinterest", "label": "Pinterest" },
        { "value": "plug", "label": "插頭" },
        { "value": "presentation-1", "label": "簡報 1" },
        { "value": "presentation-2", "label": "簡報 2" },
        { "value": "pulse", "label": "脈搏" },
        { "value": "recycle", "label": "回收" },
        { "value": "rocket", "label": "火箭" },
        { "value": "search", "label": "搜尋" },
        { "value": "sending", "label": "傳送" },
        { "value": "server-1", "label": "伺服器 1" },
        { "value": "server-2", "label": "伺服器 2" },
        { "value": "settings", "label": "設定" },
        { "value": "shield", "label": "盾牌" },
        { "value": "shopping-basket", "label": "購物籃" },
        { "value": "shuffle", "label": "隨機播放" },
        { "value": "snapchat", "label": "Snapchat" },
        { "value": "sound-waves", "label": "聲波" },
        { "value": "speaker", "label": "喇叭" },
        { "value": "squares-1", "label": "方塊 1" },
        { "value": "squares-2", "label": "方塊 2" },
        { "value": "stack", "label": "堆疊" },
        { "value": "star", "label": "星星" },
        { "value": "stopwatch", "label": "碼錶" },
        { "value": "sun", "label": "太陽" },
        { "value": "tag", "label": "標籤" },
        { "value": "telephone-tower", "label": "電信塔" },
        { "value": "tik-tok", "label": "TikTok" },
        { "value": "tree", "label": "樹" },
        { "value": "trend", "label": "趨勢" },
        { "value": "trophy", "label": "獎盃" },
        { "value": "tumblr", "label": "Tumblr" },
        { "value": "tv", "label": "電視" },
        { "value": "twitter", "label": "Twitter" },
        { "value": "user-1", "label": "使用者 1" },
        { "value": "user-2", "label": "使用者 2" },
        { "value": "user-3", "label": "使用者 3" },
        { "value": "user-4", "label": "使用者 4" },
        { "value": "user-5", "label": "使用者 5" },
        { "value": "video", "label": "影片" },
        { "value": "vimeo", "label": "Vimeo" },
        { "value": "wallet", "label": "錢包" },
        { "value": "watch", "label": "手錶" },
        { "value": "water-1", "label": "水 1" },
        { "value": "water-2", "label": "水 2" },
        { "value": "water-3", "label": "水 3" },
        { "value": "wave-1", "label": "波浪 1" },
        { "value": "wave-2", "label": "波浪 2" },
        { "value": "wifi-1", "label": "Wi-Fi 1" },
        { "value": "wifi-2", "label": "Wi-Fi 2" },
        { "value": "window", "label": "視窗" },
        { "value": "youtube", "label": "YouTube" }
      ],
      "default": "none",
      "label": "副標題圖示"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "標題",
      "info": "使用方括號 `[文字]` 來突顯標題中的特定單字。",
      "default": "顧客見證"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        { "value": "h3", "label": "中" },
        { "value": "h2", "label": "大" }
      ],
      "default": "h2",
      "label": "標題大小"
    },
    {
      "type": "select",
      "id": "heading_level",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" }
      ],
      "default": "h2",
      "label": "標題層級 (HTML 標籤)"
    },
    {
      "type": "select",
      "id": "heading_line",
      "options": [
        { "value": "simple", "label": "簡潔線條" },
        { "value": "rounded", "label": "圓角線條" },
        { "value": "background", "label": "背景色塊" },
        { "value": "none", "label": "無" }
      ],
      "default": "simple",
      "label": "標題線條樣式"
    },
    {
      "type": "color",
      "id": "line_color",
      "label": "線條顏色",
      "default": "#1566E0"
    },
    {
      "type": "checkbox",
      "id": "word_break",
      "label": "啟用標題自動換行",
      "default": false
    },
    {
      "type": "select",
      "id": "heading_animation",
      "options": [
        { "value": "typewriter", "label": "打字機" },
        { "value": "rolling", "label": "滾動" },
        { "value": "appearing", "label": "浮現" },
        { "value": "none", "label": "無" }
      ],
      "default": "none",
      "label": "標題動畫",
      "info": "此動畫僅在頁面首次載入時播放一次。"
    },
    {
      "type": "checkbox",
      "id": "word_break_an",
      "label": "啟用動畫文字自動換行",
      "default": false
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "內文",
      "default": "分享顧客對您產品或服務的評價，以建立信任感。"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "文字對齊",
      "options": [
        { "value": "left", "label": "靠左" },
        { "value": "center", "label": "置中" }
      ],
      "default": "left"
    },
    {
      "type": "color_scheme",
      "id": "slide_color_scheme",
      "default": "background-2",
      "label": "見證卡片色彩配置"
    },
    {
      "type": "select",
      "id": "slide_text_size",
      "label": "見證內文文字大小",
      "options": [
        { "value": "recommended", "label": "建議大小" },
        { "value": "h6", "label": "最小" },
        { "value": "h5", "label": "小" },
        { "value": "h4", "label": "中" },
        { "value": "h3", "label": "大" }
      ],
      "default": "recommended"
    },
    {
      "type": "header",
      "content": "導覽箭頭設定"
    },
    {
      "type": "paragraph",
      "content": "不適用於「跑馬燈」版面。"
    },
    {
      "type": "checkbox",
      "id": "enable_navigation",
      "default": true,
      "label": "在桌機上啟用導覽箭頭"
    },
    {
      "type": "checkbox",
      "id": "enable_navigation_mobile",
      "default": false,
      "label": "在行動裝置上啟用導覽箭頭"
    },
    {
      "type": "color_scheme",
      "id": "navigation_color_scheme",
      "default": "background-1",
      "label": "導覽箭頭色彩配置"
    },
    {
      "type": "header",
      "content": "分頁圓點設定"
    },
    {
      "type": "paragraph",
      "content": "不適用於「跑馬燈」版面。"
    },
    {
      "type": "checkbox",
      "id": "enable_pagination",
      "default": false,
      "label": "在桌機上啟用分頁圓點"
    },
    {
      "type": "checkbox",
      "id": "enable_pagination_mobile",
      "default": true,
      "label": "在行動裝置上啟用分頁圓點"
    },
    {
      "type": "color_scheme",
      "id": "pagination_color_scheme",
      "default": "background-1",
      "label": "分頁圓點色彩配置"
    },
    {
      "type": "header",
      "content": "區塊內距 (Padding)"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        { "value": "no-indent", "label": "無" },
        { "value": "xs", "label": "超小" },
        { "value": "s", "label": "小" },
        { "value": "m", "label": "中" },
        { "value": "l", "label": "大" },
        { "value": "xl", "label": "超大" }
      ],
      "default": "l",
      "label": "頂部內距"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        { "value": "no-indent", "label": "無" },
        { "value": "xs", "label": "超小" },
        { "value": "s", "label": "小" },
        { "value": "m", "label": "中" },
        { "value": "l", "label": "大" },
        { "value": "xl", "label": "超大" }
      ],
      "default": "l",
      "label": "底部內距"
    },
    {
      "type": "header",
      "content": "區塊外距 (Margin)"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        { "value": "no-indent", "label": "無" },
        { "value": "xs", "label": "超小" },
        { "value": "s", "label": "小" },
        { "value": "m", "label": "中" },
        { "value": "l", "label": "大" },
        { "value": "xl", "label": "超大" }
      ],
      "default": "no-indent",
      "label": "頂部外距"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        { "value": "no-indent", "label": "無" },
        { "value": "xs", "label": "超小" },
        { "value": "s", "label": "小" },
        { "value": "m", "label": "中" },
        { "value": "l", "label": "大" },
        { "value": "xl", "label": "超大" }
      ],
      "default": "no-indent",
      "label": "底部外距"
    }
  ],
  "blocks": [
    {
      "type": "testimonials_slide",
      "name": "顧客見證",
      "settings": [
        {
          "type": "range",
          "id": "rating",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 5,
          "label": "評分星級"
        },
        {
          "type": "textarea",
          "id": "slide_text",
          "default": "在此處新增您的顧客見證引言。",
          "label": "見證內容"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "推薦人圖片"
        },
        {
          "type": "text",
          "id": "slide_name",
          "default": "顧客姓名",
          "label": "推薦人姓名"
        },
        {
          "type": "text",
          "id": "slide_position",
          "default": "職稱, 公司",
          "label": "推薦人職稱/地點"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "顧客見證",
      "blocks": [
        { "type": "testimonials_slide" },
        { "type": "testimonials_slide" },
        { "type": "testimonials_slide" }
      ]
    }
  ]
}
{% endschema %}